In [1]:
import pandas as pd

In [2]:
# Usually to do web scraping,
# we would use the Python library called BeautifulSoup

# It turns out that pandas allows you to do some
# simple web scraping using the read_html method

In [3]:
url = 'https://en.wikipedia.org/wiki/Central_line_(London_Underground)'

In [4]:
list_of_dfs = pd.read_html(url)

In [5]:
# We need to find the table with the stations (i.e. with the column 'Station')
# We can do this by looking at the columns by iterating through the list of dataframes:
for index, df in enumerate(list_of_dfs):
    print(index, df.columns)

0 Index(['Central line', 'Central line.1'], dtype='object')
1 Index(['Transport for London rail lines'], dtype='object')
2 Index(['London Underground'], dtype='object')
3 Index(['vteCentral line', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')
4 Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
5 Int64Index([0], dtype='int64')
6 Int64Index([0], dtype='int64')
7 Int64Index([0], dtype='int64')
8 Int64Index([0], dtype='int64')
9 Int64Index([0], dtype='int64')
10 Int64Index([0], dtype='int64')
11 Int64Index([0], dtype='int64')
12 Int64Index([0], dtype='int64')
13 Int64Index([0], dtype='int64')
14 Int64Index([0], dtype='int64')
15 Int64Index([0], dtype='int64')
16 Int64Index([0], dtype='int64')
17 Int64Index([0], dtype='int64')
18 Int64Index([0], dtype='int64')
19 Int64Index([0], dtype='int64')
20 Int64Index([0], dtype='int64')
21 Int64Index([0], dtype='int64')
22 Int64Index([0], dtype='int64')
23 Int64Index([0], dtype='int64')
24 Int64Index([0], dtype='int64')
25 Int64Index([0], dtype='int64')
26 Int64Index([0], dtype='int64')
27 Int64Index([0], dtype='int64')
28 Int64Index([0], dtype='int64')
29 Int64Index([0], dtype='int64')
30 Int64Index([0], dtype='int64')
31 Int64Index([0], dtype='int64')
32 Index(['Station', 'Image', 'Distance between stations (km)[52]',
       'Opened/[53]services started', 'Branch', 'Notes'],
      dtype='object')
33 Int64Index([0, 1], dtype='int64')
34 Index(['vteCentral line', 'vteCentral line.1'], dtype='object')
35 Int64Index([0, 1], dtype='int64')
36 Int64Index([0, 1], dtype='int64')
37 Int64Index([0, 1], dtype='int64')

In [6]:
df = list_of_dfs[32]

In [7]:
df.head()

,Station,Image,Distance between stations (km)[52],Opened/[53]services started,Branch,Notes
0,West Ruislip,NaN,NaN,21 November 1948,Ruislip branch,Connects with National Rail services. Opened a...
1,Ruislip Gardens,NaN,2.04,21 November 1948,Ruislip branch,"Opened in 1934 by GW&GCJC, main line services ..."
2,South Ruislip,NaN,0.86,21 November 1948,Ruislip branch,Connects with National Rail services. Opened a...
3,Northolt,NaN,2.28,21 November 1948,Ruislip branch,Replaced a nearby GWR station that had opened ...
4,Greenford,NaN,1.78,30 June 1947,Ruislip branch,Connects with National Rail services to West E...

In [8]:
type(df['Station'])

pandas.core.series.Series

In [9]:
df['Station'] # This is a Series

0             West Ruislip
1          Ruislip Gardens
2            South Ruislip
3                 Northolt
4                Greenford
5                 Perivale
6              Hanger Lane
7          Ealing Broadway
8               West Acton
9              North Acton
10              East Acton
11              White City
12         Shepherd's Bush
13            Holland Park
14       Notting Hill Gate
15               Queensway
16          Lancaster Gate
17             Marble Arch
18             Bond Street
19           Oxford Circus
20    Tottenham Court Road
21                 Holborn
22           Chancery Lane
23               St Paul's
24                    Bank
25        Liverpool Street
26           Bethnal Green
27                Mile End
28               Stratford
29                  Leyton
30             Leytonstone
31                Wanstead
32               Redbridge
33              Gants Hill
34            Newbury Park
35             Barkingside
36                 Fairlop
37                Hainault
38             Grange Hill
39                Chigwell
40           Roding Valley
41             Snaresbrook
42          South Woodford
43                Woodford
44          Buckhurst Hill
45                Loughton
46                  Debden
47            Theydon Bois
48                  Epping
Name: Station, dtype: object

In [10]:
df[['Station']] # This is a DataFrame

                 Station
0           West Ruislip
1        Ruislip Gardens
2          South Ruislip
3               Northolt
4              Greenford
5               Perivale
6            Hanger Lane
7        Ealing Broadway
8             West Acton
9            North Acton
10            East Acton
11            White City
12       Shepherd's Bush
13          Holland Park
14     Notting Hill Gate
15             Queensway
16        Lancaster Gate
17           Marble Arch
18           Bond Street
19         Oxford Circus
20  Tottenham Court Road
21               Holborn
22         Chancery Lane
23             St Paul's
24                  Bank
25      Liverpool Street
26         Bethnal Green
27              Mile End
28             Stratford
29                Leyton
30           Leytonstone
31              Wanstead
32             Redbridge
33            Gants Hill
34          Newbury Park
35           Barkingside
36               Fairlop
37              Hainault
38           Grange Hill
39              Chigwell
40         Roding Valley
41           Snaresbrook
42        South Woodford
43              Woodford
44        Buckhurst Hill
45              Loughton
46                Debden
47          Theydon Bois
48                Epping

In [12]:
# We can save the dataframe (or the series) to a csv file
df[['Station']].to_csv('central_line_stations.csv', index = False)